@font-face {
	font-family: 'Roboto_Reg_ZMT';
	src: url('../fonts/Roboto-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto_Med_ZMT';
	src: url('../fonts/Roboto-Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

*,
*:after,
*:before {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	font-family: arial;
	font-size: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header {
	background: #f1f1f1;
	padding:20px 40px;
	display:flex;
	align-items:center;
}

footer{
	position: fixed;
	left:0;
	bottom:0;
	padding:10px 20px;
	width:100%;
	text-align:center;
	background:#f1f1f1;
	border-top:1px solid #1a1f25;
}

.logo{
	margin-right:20px;
}
.menu a{
	color:#0d3b66;
	text-decoration:none;
	display:inline-block;
	padding:5px 10px;
}
.menu a:hover,.menu a.active{
	color:#9068be;
}
#tab_contents{
	padding-bottom:40px;
}
#tab_contents .tab_content{
	display:none;
	padding:40px;
}
#tab_contents .tab_content.active{
	display:block;
}
.input{
	margin:20px 0;
	min-height:25px;
	opacity:1;
	pointer-events:all;
	transition:all .4s;
}
.input input[readonly],
.input select[readonly],
.input textarea[readonly]{
	pointer-events:none;
	background:rgb(235, 235, 228);
}
.input.hidden{
	height:0;
	min-height:0;
	opacity:0;
	pointer-events:none;
}
.input.submit_input{
	margin-top:40px;
}
.input label>span:not(.select2){
	display:inline-block;
	vertical-align:middle;
	min-width:150px;
	max-width:150px;
}
/* The switch - the box around the slider */
.switch {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	width: 50px;
	height: 25px;
}
/* Hide default HTML checkbox */
.switch input {
	display: none;
}
/*Icons*/
[class^='icon-']{
	color:#777d8a;
}
[class^='icon-']:hover{
	color:#000;
}
/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}
.slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 4px;
	bottom: 3px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}
input:checked+.slider {
	background-color: #74c239;
}
input:focus+.slider {
	box-shadow: 0 0 1px #74c239;
}
input:checked+.slider:before {
	-webkit-transform: translateX(22px);
	-ms-transform: translateX(22px);
	transform: translateX(22px);
}
input[type="text"],
input[type="email"],
select,
textarea{
	display: inline-block;
	vertical-align: middle;
	padding: 10px;
	font-size: 12px;
	border: 1px solid #ccc;
	min-width:200px;
	max-width:200px;
}
input[type="text"]:focus,
input[type="text"]:active,
input[type="email"]:focus,
input[type="email"]:active,
input[type="number"]:focus,
input[type="number"]:active,
select:focus,
select:active,
textarea:focus,
textarea:active{
	outline: none;
}
input[type="number"] {
	border: 1px solid #e0e0e0;
	padding: 5px 10px;
	width: 60px;
	height: 30px;
	text-align: center;
}
/*pagination select boxes*/
select#history_page_num_select,
select#history_per_page_select{
	min-width:0;
	padding:5px;
}
button#email_views_search_btn{
	margin-right:-20px;
}
.accordion{
	list-style: none;
	padding-left: 0;
	width: 80%;
}
.accordion h4{
	cursor:pointer;
	color:#8e8e8e;
	border-bottom:1px solid #ccc;
	padding:5px 10px;
	font-weight:400;
}
.accordion h4:after{
	content:'';
	width:10px;
	height:10px;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	transform:rotate(45deg);
	float:right;
	margin-right:20px;
	margin-left:20px;
}
.accordion p{
	display:none;
}

#app_notifs{
	position: fixed;
	right:0;
	top:0;
	z-index:12;
	padding:20px;
	border-width:1px;
	border-style:solid;
	transform:translateX(100%);
	transition: all .4s ease-out;
}
#app_notifs.visible{
	transform:translateX(0);
}
#app_notifs.success{
	background:#dff0d8;
	border-color:#d0e9c6;
	color:#3c763d;
}
#app_notifs.error{
	background: #f2dede;
	border-color: #ebcccc;
	color: #a94442;
}
#app_notifs.info{
	background: #fcf8e3;
	border-color: #faf2cc;
	color: #8a6d3b;
}
#app_notifs .close{
	position: absolute;
	left: 5px;
	top: 5px;
	cursor: pointer;
	font-size: 14px;
}
.btn{
	background: #449d44;
	border: 1px solid #419641;
	color: #fff;
	text-decoration: none;
	padding: 5px 10px;
	border-radius: 5px;
}
.close_btn{
	width: 10px;
	min-height: 10px;
	position: relative;
	display: block;
}
.close_btn:before,
.close_btn:after{
	content: '';
	display: block;
	width: 10px;
	height: 2px;
	border-radius: 2px;
	background: #ccc;
	position: absolute;
	left: 0;
	top: 50%;
	transform: rotate(45deg);
}
.close_btn:after{
	transform: rotate(-45deg);
}
.close_btn:hover:before,
.close_btn:hover:after{
	background:#000;
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}
.slider.round:before {
	border-radius: 50%;
}
button {
	display:inline-block;
	vertical-align:middle;
	width: 100px;
	background: #6ed3cf;
	padding: 10px 20px;
	text-align: center;
	color: #fff;
	margin: 5px auto;
	border: none;
	box-shadow: none;
	cursor: pointer;
}
button.long{
	width:auto;
}
button[disabled]{
	/*pointer-events:none;*/
	background: rgb(93, 93, 93);
	cursor: not-allowed;
}
button.hidden{
	display:none;
}
#response {
	display: none;
	padding: 10px;
	font-size: 14px;
	text-align: center;
}
#response .success {
	color: #74c239;
}
#response .failure {
	color: #ea5f5f;
}
/*History*/
#history_div{
	overflow:auto;
}
#history_div .loader{
	display:none;
	text-align: center;
	padding: 50px 0;
}
#history_div.loading #history_table{
	display:none;
}
#history_div.loading .loader{
	display: block;
}
#history_div .actions_cell {
	white-space: nowrap;
}
table{
	border-collapse: collapse;
	border-spacing: 0;
}
table td{
	border:1px solid #ddd;
	padding:10px 20px;
}
table thead td{
	background:#1a1f25;
	color:#fff;
}
table tbody td{
	color:#666;
	background:#fff;
}
table tbody tr:nth-child(odd) td{
	background:#ebebeb;
}
.search_row td{
	background:#fff;
	border:none;
	text-align:right;
}
#history_div .to_field_cell,
#history_div .cc_field_cell,
#history_div .bcc_field_cell{
	word-break:break-all;
}
table .time{
	white-space:nowrap;
}
#modal{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:10;
	background:rgba(0,0,0,.8);
	pointer-events:none;
	opacity:0;
	transition:all .4s ease-out;
}
#modal_inner{
	position:fixed;
	left:50%;
	top:50%;
	/* min-width:50%; */
	max-width:80%;
	/* min-height:50%; */
	max-height:80%;
	/* height:80%; */
	overflow-y:auto;
	z-index:11;
	transform:translate(-50%,-50%);
	opacity:0;
	pointer-events:none;
	background:#fff;
	padding:20px;
	transition:all .4s ease-out;
}
#modal_outer{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:10;
}
#modal.visible{
	opacity:1;
	pointer-events:all;
}
#modal.visible #modal_inner{
	opacity:1;
	pointer-events:all;
}
#modal #modal_close{
	position: absolute;
	right:10px;
	top:10px;
	cursor:pointer;
}
#modal_inner .email_subject{
	margin-bottom: 20px;
	text-align: center;
	font-size: 24px;
}
#modal_content .dialog_header{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	padding: 10px 20px;
	background: #ccc;
}
#modal_content .dialog_body {
	margin: 40px 0 20px;
}
#modal.confirmation .close_btn:before,
#modal.confirmation .close_btn:after{
	background:#000;
	z-index:11;
}
.footer_menu{
	font-size:12px;
}
.footer_menu a{
	color: #63aef1;
	text-decoration: none;
}
.announcement{
	padding: 10px 20px;
	margin-bottom: 30px;
	border-radius: 10px;
	position:relative;
	display:none;
}
.announcement .dismiss {
	position: absolute;
	right:5px;
	top:5px;
	cursor:pointer;
}
.announcement-info {
	color:#8a6d3b;
	border:1px solid #faebcc;
	background:#fcf8e3;
}
#loader{
	position:fixed;
	left:0;
	top:0;
	z-index:11;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.8);
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	opacity:0;
	pointer-events:none;
}
#loader .msg{
	margin-top:10px;
	color:#fff;
}
#loader.visible{
	opacity:1;
	pointer-events:all;
}
.loader_spinner{
	display:inline-block;
	width:65px;
	height:65px;
	background:url('../images/logo64.png') no-repeat;
	transform-style: preserve-3d;
	perspective: 100px;
}

.loader_spinner.visible{
	animation:rotate3d 2s infinite;
}

@-webkit-keyframes rotate3d{
	from{
		transform:rotateY(0deg);
	}
	to{
		transform:rotateY(1080deg);
	}
}
@keyframes rotate3d {
	from {
		transform: rotateY(0deg);
	}

	to {
		transform: rotateY(1080deg);
	}
}