.sidebarMenuList{
    list-style:none;
    margin-top:40px;
    color:#fff;
}
.sidebarMenuList li{
    padding:10px 20px;
    transition:background-color .4s ease-out;
}
.sidebarMenuList li:hover{
    background-color:var(--color-primary);
}
.sidebarMenuList li a{
    font-size:1.2rem;
}
