.sidebarMenuList {
	list-style: none;
	margin-top: 40px;
}

.sidebarMenuList li {
	transition: background-color .4s ease-out;

	&:hover,
	&.selected {
		background-color: var(--color-primary);
	}

	a {
		font-size: 1.2rem;
		display: block;
		padding: 10px var(--padding-x);
	}

}
