.settingsSection {
	margin: 0 40px;
	max-width: 450px;
}

.settingsBox {
	background: var(--bg-color-inverted);
	padding: 40px 20px;
	border-radius: 8px;
}

.settingsBlock {
	margin: 20px 0;

	label {
		display: block;
	}
}

.settingsBlock .dropdown {
	min-width: 200px;
}
