:root {
	--text-color-primary: #212529;
	--text-color-primary-inverted: #fff;
	--bg-color-primary: #efefef;
	--bg-color-inverted: #fff;
	--color-primary: #9068be;
	--color-secondary: #6ed3cf;
	--color-black-op-0-5: rgba(0, 0, 0, 0.5);
	--color-error-0: rgb(249 110 110);
	--color-error-1: rgb(251 70 70);
	--grey-0: #f5f5f5;
	--grey-1: #ccc;
	--grey-2: rgba(114, 114, 114);
	--sidebar-grey: rgb(63 63 63);
}

body {
	background: var(--bg-color-primary);
	color: var(--text-color-primary);
}

a, a:hover {
	text-decoration: none;
	color: inherit;
}

a, a:visited {
	color: inherit;
}

label {
	margin-bottom: 0;
}

code {
	color: var(--color-primary);
	background: #e0dddd;
	padding: 2px 4px;
	border-radius: 4px;
}

button.btn-color-primary,
button.btn-color-primary:active,
button.btn-color-primary:focus {
	background-color: var(--color-secondary);
	border: none;
	box-shadow: none;
	color: #fff;

	&:hover {
		color: #fff;
		box-shadow: 0 0 2px 1px var(--color-primary);
	}
}

button.btn-color-primary:disabled {
	background-color: var(--color-secondary);
	cursor: not-allowed;
}

// font awesome icons
button > svg {
	margin-right: 10px;
}
