.radioBtn {
  display: inline-block;

  label {
    cursor: pointer;
  }

  input[type='radio'] {
    display: none;

    & + span{
      color: rgb(65, 65, 65);
      background: rgb(215, 215, 215);
      padding: 5px 10px;
    }

    &:checked + span{
      box-shadow: 0 0 4px rgba(0,0,0,0.4);
    }
  }
}
