.contactForm {
  --label-min-width: 350px;

  .form-group {
    margin: 20px 0;

    & > label {
      min-width: var(--label-min-width);
    }
  }

  .inputContainer {
    min-width: 500px;
  }

  .radioGroup .radioBtn {
    margin: 0 20px 0 0;
  }

  .form-control {
    min-width: 500px;

    &.textarea {
      min-height: 100px;
    }
  }

  .btnRow {
    padding-left: var(--label-min-width);
  }

  .error {
    margin-left: 10px;
    color: var(--color-error-0);
  }
}
