@import '../../sass/mixins.scss';

$btnPadding:70px;
$borderRadius:12px;

.emailContainer{
    background: #fff;
    border-radius:3px;
    box-shadow: 0 0 5px var(--color-black-op-0-5);
    max-width:350px;
    padding:40px 20px;
}
.emailContainer input{
    border:none;
    background:none;
    width:100%;
    @include disableOutline;
}
.emailInner{
    position: relative;
    margin:20px;
    padding-left:$btnPadding;
    font-size:.8rem;
    border-radius:$borderRadius;
    @include allTransition;
    button{
        position: absolute;
        z-index:1;
        left: 0;
        top: 50%;
        transform:translateY(-50%);
        background-color:var(--grey-2);
        border:none;
        color:#fff;
        width:70px;
        padding:6px;
        border-radius:$borderRadius;
        @include allTransition;
        @include disableOutline;
    }
    &.editing{
        padding-left:0;
        padding-right:$btnPadding;
        background-color: var(--grey-0);
        button{
            left:100%;
            transform:translate(-100%,-50%);
            background-color:var(--color-secondary);
        }
    }
}
